body {
    overflow: auto;
    overflow-x: hidden;
    font-family: 'helveticaneue-medium';
    width: 100vw;
}

.textHeader {
    font-size: 40px;
    font-weight: bold;
    font-family: 'helveticaneue-medium';
}

/*.arrowContainer {
    padding-top: 5%;
    width: 15%;
    margin: auto;
}

.nextPageArrow {
    font-size: 80px;
    display: block;
    text-align: center;
}

    .nextPageArrow:hover {
        transition: 1s;
        margin-top: 5%;
        transform: scale(1.2);
    }*/

@media screen and (max-width: 650px) {
    body, html {
        overflow-x: hidden;
        width: 100vw;
    }
    .textHeader {
        font-size: 30px;
    }

    .nextPageArrow{
        margin-top: 50%;
        font-size: 50px;
    }
}

@font-face {
    font-family: 'helveticaneue-medium';
    src: url('../fonts/helveticaneue-medium.otf') format('opentype');
}

@font-face {
    font-family: 'helveticaneueultralight';
    src: url('../fonts/helveticaneueultralight.ttf') format('truetype');
}
