#navBar {
    color: white;
    background-color: rgba(0,0,0,0.15);
    height: 10vh;
    position: fixed;
    width: 100%;
    z-index: 10;
}

#pageTitleName {
    font-weight: bold;
}

#navItems {
    list-style-type: none;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.3em;
    margin: auto;
    height: 100%;
}

.navBarItem {
    float: right;
    text-decoration: none;
    margin-left: 5%;
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    #navItems{
        font-size: 1em;
    }

    #pageTitleName {
        padding-top: 5%;
    }

    .navBarItem {
        padding-top: 5%;
    }
}

    .navBarItem:hover{
    border-bottom: solid 3px;
}
