#projectsPage {
    color: #F75B46;
    background-color: #F8ECBB;
    height: 100vh;
    padding: 5%;
}

#contentContainer_Projects{ 
    position: relative;
    text-align: left;
    font-size: 25px;
    font-family: 'helveticaneueultralight';
    margin: auto;
    margin-top: 5%;
}

.projectTitle {
    font-size: 40px;
    font-weight: bold;
    font-family: 'helveticaneue-medium';
}

.projectDescription{
    
}

#projectImage {
    background: white;
    height: 180px;
    width: 200px;
}

#separation {
    border-left: 3px solid;
    border-color: black;
    height: 400px;
}
